<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Life Teen Confirmation Prep</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link rel="stylesheet" href="css/styles.css">
</head>

<body>
  <nav>
    <ul class="nav-list justify-content-center">
      <li><a class="nav-link bar" href="/" role="button">Home</a></li>
      <li><a class="nav-link bar" href="/reg-student" role="button">Register Student</a></li>
      <li><a class="nav-link bar" href="/register" role="button">Register Account</a></li>
      <li><a class="nav-link bar" href="/student-log" role="button">Student Log</a></li>
      <li><a class="nav-link bar" href="/class-list" role="button">Class List</a></li>
      <li><a class="nav-link bar" href="/login" role="button">Login</a></li>
    </ul>
  </nav>
</body>

</html>